@font-face {
  font-family: 'League Spartan';
  src: url('LeagueSpartan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button,
input {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
.dark {
  --main: hsl(222, 26%, 31%);
  --screen: hsl(224, 36%, 15%);
  --keypad: hsl(223, 31%, 20%);

  --key: hsl(30, 25%, 89%);
  --key_shadow: hsl(28, 16%, 65%);

  --primary_key: hsl(6, 63%, 50%);
  --primary_hover: hsl(6, 93%, 67%);
  --primary_key_shadow: hsl(6, 70%, 34%);

  --secondary_key: hsl(225, 21%, 49%);
  --secondary_hover: hsl(224, 51%, 76%);
  --secondary_key_shadow: hsl(224, 28%, 35%);

  --text_main_keys: hsl(221, 14%, 31%);
  --text_white: hsl(0, 0%, 100%);
}
.light {
  --main: hsl(0, 0%, 90%);
  --screen: hsl(0, 0%, 93%);
  --keypad: hsl(0, 5%, 81%);

  --key: hsl(45, 7%, 89%);
  --key_shadow: hsl(35, 11%, 61%);

  --primary_key: hsl(25, 98%, 40%);
  --primary_hover: hsl(25, 100%, 61%);
  --primary_key_shadow: hsl(25, 99%, 27%);

  --secondary_key: hsl(185, 42%, 37%);
  --secondary_hover: hsl(184, 40%, 56%);
  --secondary_key_shadow: hsl(185, 58%, 25%);

  --text_main_keys: hsl(60, 10%, 19%);
  --text_white: hsl(0, 0%, 100%);
}
.contrast {
  --main: hsl(268, 75%, 9%);
  --screen: hsl(268, 71%, 12%);
  --keypad: hsl(268, 71%, 12%);

  --key: hsl(268, 47%, 21%);
  --key_hover: hsl(268, 54%, 44%);
  --key_shadow: hsl(290, 70%, 36%);

  --primary_key: hsl(176, 100%, 44%);
  --primary_hover: hsl(177, 100%, 79%);
  --primary_key_shadow: hsl(177, 92%, 70%);

  --secondary_key: hsl(281, 89%, 26%);
  --secondary_hover: hsl(280, 56%, 44%);
  --secondary_key_shadow: hsl(285, 91%, 52%);

  --text_main_keys: hsl(52, 100%, 62%);
  --text_white: hsl(0, 0%, 100%);
  --text_equation: hsl(198, 20%, 13%); /*Only for contrast mode*/
}

body {
  font-family: 'League Spartan';
  background-color: var(--main);
  display: flex;
  justify-content: center;
  padding: 24px;
  min-height: 100vh;

  font-size: 32px;
}
/* !!!!!! zrobić czcionki na emach/remach bazowane na 32px, a w min-width trzeba ją zmienić */
/*! wielkosc togglera tez chyba*/
.container {
  min-width: 300px;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text_white);
}
.light .heading,
.contrast .heading {
  color: var(--text_main_keys);
}
.heading h1 {
  font-size: 1em;
}
.theme_toggler {
  display: grid;
  grid-template-columns: auto 78px;
  grid-template-rows: auto 30px;
  grid-template-areas: '_ numbers' 'heading toggle';
  gap: 4px 24px;
  place-items: center;
}
.theme_toggler > span {
  font-size: 14px;
  letter-spacing: 0.5px;
  grid-area: heading;
}
.theme_toggler .options {
  grid-area: numbers;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.theme_toggler .options > span {
  font-size: 14px;
}
.theme_toggler .slider {
  width: 100%;
  height: 100%;

  background-color: var(--keypad);
  border-radius: 12px;

  grid-area: toggle;
  transition: all 0.1s ease;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  overflow: hidden;
}
.theme_toggler .slider button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
}
.theme_toggler .slider button::after {
  content: '';
  position: absolute;

  width: 18px;
  height: 18px;
  border-radius: 50%;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--primary_key);
  opacity: 0;
}
.theme_toggler .slider button:focus::after,
.theme_toggler .slider button:hover::after {
  opacity: 0.5;
}

[data-theme='dark'] .slider button:nth-child(1)::after,
[data-theme='light'] .slider button:nth-child(2)::after,
[data-theme='contrast'] .slider button:nth-child(3)::after {
  opacity: 1;
}

.result {
  width: 100%;
  height: 88px;
  background-color: var(--screen);
  border-radius: 12px;

  display: grid;
  grid-template-rows: 1fr 2fr;
  justify-content: flex-end;

  padding-right: 24px;

  color: var(--text_main_keys);
}
.dark .result {
  color: var(--text_white);
}
.result .secondary-operand {
  align-self: flex-end;
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
}
.result .primary-operand {
  align-self: flex-start;
  font-size: 1em;
}

.keyboard {
  width: 100%;
  background-color: var(--keypad);
  padding: 20px;
  border-radius: 12px;

  --width: 60px;
  --height: 60px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, var(--width));
  grid-template-rows: repeat(5, var(--height));
  grid-template-areas: '7 8 9 delete' '4 5 6 plus' '1 2 3 minus' 'point 0 divide multiply' 'reset reset equation equation';
  gap: 12px;
}
.keyboard button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: 'League Spartan';
  color: var(--text_main_keys);

  font-size: 1em;
  font-weight: 700;

  background-color: var(--key);
  box-shadow: 0 0px 0 0 var(--key_shadow), 0 4px 0 0 var(--key_shadow);

  transition: all 0.1s ease;
}
.keyboard button:active {
  transform: scale(0.98);
  box-shadow: 0 1px 0 0 var(--text_white), 0 4px 0 0 var(--key_shadow);
}
.contrast .keyboard button:active {
  box-shadow: 0 1px 0 0 var(--key_hover), 0 4px 0 0 var(--key_shadow);
}
.contrast .keyboard button:hover,
.contrast .keyboard button:focus {
  background-color: var(--key_hover);
}
.keyboard button:hover,
.keyboard button:focus {
  background-color: var(--text_white);
}
.keyboard button[data-delete] {
  grid-area: delete;
}
.keyboard button[data-clear] {
  grid-area: reset;
}
.keyboard button[data-evaluate] {
  background-color: var(--primary_key);
  box-shadow: 0 0px 0 0 var(--primary_hover),
    0 4px 0 0 var(--primary_key_shadow);
  font-size: 22px;
  color: var(--text_white);

  grid-area: equation;
}
.keyboard button[data-delete],
.keyboard button[data-clear] {
  background-color: var(--secondary_key);
  box-shadow: 0 0px 0 0 var(--secondary_hover),
    0 4px 0 0 var(--secondary_key_shadow);
  color: white;
  font-size: 22px;
}
.keyboard button[data-evaluate]:hover,
.keyboard button[data-evaluate]:focus {
  background-color: var(--primary_hover);
}
.keyboard button[data-evaluate]:active {
  box-shadow: 0 1px 0 0 var(--primary_hover),
    0 4px 0 0 var(--primary_key_shadow);
}
.keyboard button[data-delete]:hover,
.keyboard button[data-clear]:hover,
.keyboard button[data-delete]:focus,
.keyboard button[data-clear]:focus {
  background-color: var(--secondary_hover);
}
.keyboard button[data-delete]:active,
.keyboard button[data-clear]:active {
  box-shadow: 0 1px 0 0 var(--secondary_hover),
    0 4px 0 0 var(--secondary_key_shadow);
}
.contrast .keyboard button[data-evaluate] {
  color: var(--text_equation);
}

@media (min-width: 588px) {
  body {
    padding-top: 110px;
    font-size: 42px;
  }
  .result {
    height: 128px;
  }
  .container {
    max-width: unset;
    width: 540px;
  }
  .keyboard {
    --width: 100px;
    --height: 65px;
    gap: 24px;
  }
}
